matplotlib
scipy
Pillow
numpy
prettytable
easydict
scikit-learn
pyyaml
yacs
termcolor
tabulate
tensorboard
opencv-python
pyyaml
yacs
termcolor
scikit-learn
tabulate
gdown
faiss-gpu
PyQt5
ultralytics  # 会自动安装pytorch
opencv-python==4.1.2.30  # 高版本会与qt冲突
